<h1>End-User Profile</h1>
<img src="{{decodedIdToken.picture}}" style="max-width: 100px; border-radius: 50%;" alt="Profile picture" />
<ul>
    <li><strong>User Id:</strong> {{decodedIdToken.sub}}</li>
    <li><strong>User Name:</strong> {{decodedIdToken.name}}</li>
    <li><strong>User Email:</strong> {{decodedIdToken.email}}</li>
</ul>
<p>
    You can also use a tool like
    <a href="https://jwt.io/#debugger-io?token={{idToken}}">https://jwt.io</a>
    to see the full content of the id token.
</p>
<p>
    To see your to-do list, <a href="/to-dos">go here</a>.
</p>
